.LabelTextCorrect{
    border: 3px solid lightgreen;
    border-radius: 10px;
}
.LabelTextWrong{
    border: 3px solid red;
    border-radius: 10px;
}
.LabelTextDefault{
    border: 3px solid goldenrod;
    border-radius: 10px;
}