.LabelTexteValide{
    border: 3px solid lightgreen;
    border-radius: 10px;
}
.LabelTexteInvalide{
    border: 3px solid red;
    border-radius: 10px;
}
.LabelTexteDefault{
    border: 3px solid goldenrod;
    border-radius: 10px;
}
