/*

----IDEE CSS2----
Changement couleur (mode rampage sang carnage)
Menu nav à gauche (déroulant)
Différentes présentations des personnages (description déroulantes)

----TO DO LIST----

Ajouter Finn, Linda, Lizzie, Johnny Dogs et plus encore May Alfie Isaiah Jeremiah Curly
Ajouter bordure d'images
Gestion du footer
Nav hover bottom border thicker
Ajouter systeme de connexion
Ajouter des classes aux titres à souligner pour mise en forme
Ajouter Nav pour les personnages
Ajouter Nav pour les saisons
Ajouter JavaScript pour résultat du Quizz
  Ajout de questions au fur et à mesure des réponses des questions
  Ajout d'un système de score
  Quizz avec choix d'image pour personnage
Gestion mode nuit avec JS même façon que changement d'image onclick JS
Gestion de la page des saisons 
  Traduire le résumé des épisodes
  Ajout d'un bouton pour afficher les résumé des saisons
  Gestion du tableau saison CSS
Organisation des commentaires CSS (Ajouter Général)
Mettre en forme la page d'édition de profil
Ajouter des cookies

BDD Avec au moins 2 tables (Espace Membre) (Commentaires)
Consulter
Ajouter
Supprimer
Mettre à jour

----QUESTIONS----

PERSONNAGES: Image au centre verticalement quand fenêtré
SAISONS: Lors d'un dezoom important, tout s'aligne ?

----SOURCES----

https://peaky-blinders.fandom.com/wiki/Peaky_Blinders_Wiki
https://manofmany.com/entertainment/movies-tv/man-of-character-thomas-shelby-peaky-blinders
https://peaky-blinders.fandom.com/wiki/Episode_1.1
https://www.imdb.com/title/tt2442560/episodes?season=1
https://peaky-blinders.fandom.com/wiki/Lizzie_Stark
https://peaky-blinders.fandom.com/wiki/Linda_Shelby
https://peaky-blinders.fandom.com/wiki/Johnny_Dogs
https://peaky-blinders.fandom.com/wiki/May_Carleton
https://peaky-blinders.fandom.com/wiki/Finn_Shelby
https://peaky-blinders.fandom.com/wiki/Alfie_Solomons
https://peaky-blinders.fandom.com/wiki/Isiah_Jesus
https://peaky-blinders.fandom.com/wiki/Jeremiah_Jesus
https://peaky-blinders.fandom.com/wiki/Curly

----TIPS----
Menu Déroulant
https://www.w3schools.com/howto/howto_css_dropdown.asp
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown_hover

----A RENDRE----
HTML + CSS
QUIZZ Avec JS
BD Avec PHP
Scripts + URL du projet
README avec explications du JS + Réponses quizz valides
Depot Celene Archive -> AS WEB
BROSSEAU_Aaron_ProjetWeb.tar
27 Janvier
3 notes
HTML CSS
JS
PHP
*/


/*---------------*/
/*----A TRIER----*/
/*---------------*/

/*---------------*/
/*----Général----*/
/*---------------*/

@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap&subset=latin-ext');

html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Bebas Neue', cursive;
  background-color: #24252A;
  color: #edf0f1;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar{
  background: #edf0f1;
  width: 10px;
}
::-webkit-scrollbar-track{
  border-radius: 8px;
  box-shadow: inset 0 0 8px #00000070;
}
::-webkit-scrollbar-thumb{
  background: rgb(0, 136, 169);
  border-radius: 8px;
}

/*------------------------------*/
/*----Gestion de la banniere----*/
/*------------------------------*/

#banniere {
  width: 100%;
}

/*-------------------------*/
/*----Gestion du header----*/
/*-------------------------*/

#En-tête{
  display: flex;
  padding: 20px 10%;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(26, 27, 31);
  border-top: rgba(0, 136, 169, 1) solid 5px;
  border-bottom: rgba(0, 136, 169, 1) solid 5px;
}
#En-tête li, #En-tête a, #En-tête button{
  font-family: 'Bebas Neue', cursive;
  font-size: 28px;
  color: #edf0f1;
  text-decoration: none;
}
.LiensMenus{
  list-style: none;
}
.LiensMenus li{
  display: inline-block;
  padding: 0px 20px;
}
.LiensMenus li a{
  transition: all 0.3s ease 0s;
}
#MenuNavigation li a:hover{
  color:rgba(0, 136, 169, 1);
}
.BoutonConnexion button{
  letter-spacing: 2px;
  margin-left: 30px;
  padding: 9px 25px;
  border-radius: 50px;
  border: none;
  transition: all 0.3s ease 0s;
  background-color: rgba(0, 150, 175, 1);
  cursor: pointer;
}
.BoutonConnexion button:hover{
  background-color: rgba(0, 150, 175, 0.8);
}
.BoutonProfil button{
  letter-spacing: 0px;
  margin-left: 30px;
  padding: 9px 25px;
  border-radius: 50px;
  border: none;
  transition: all 0.3s ease 0s;
  background-color: rgba(0, 150, 175, 1);
  cursor: pointer;
}
.BoutonProfil button:hover{
  background-color: rgba(0, 150, 175, 0.8);
}
/*------------------------------------*/
/*----Gestion de la page d'accueil----*/
/*------------------------------------*/

#Accueil{
  display: flex;
}

/*Titres*/

#Accueil h1 {
  padding-left: 5%;
  font-size: 36px;
  font-style: italic;
  text-decoration: underline;
  text-decoration-color: rgb(0, 150, 175);
}
#Accueil h2{
  font-size: 24px;
}

/*Synopsis*/

#Accueil article{
  flex-basis: 90%;
}
#Accueil #Synopsis{
  padding: 0 5%;
  font-size: 18px;
  text-align: justify;
}

/*Gestion du Aside*/

#Accueil aside {
  text-align: justify;
  flex-basis: 10%;
  flex-shrink: 0;
  margin: 3%;
  padding: 30px;
  background-color: rgb(73, 75, 85);
  font-size: 20px;
}
#Accueil aside h2{
  font-size: 36px;
  text-align: center;
  margin: 0px;
  padding-bottom: 5px;
  border-bottom: rgb(0, 136, 169) solid 1px;
}
.AsideSub header h3{
  text-align: center;
  font-size: 24px;
}
.AsideSub .CommentArea{
  border: none;
  outline: none;
  background: none;
  border: solid 1px;
  padding: 10px 6px;
  margin-bottom: 10px;
  min-width: 90%;
  max-width: 90%;
  color: #edf0f1;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  letter-spacing: 2px;
}
.AsideSub #BoutonCommentaire{
  font-size: 20px;
  margin-top: 10px;
  background:none;
  color: rgb(0, 150, 175);
  font-family: 'Bebas Neue', cursive;
  border: solid 1px;
  border-radius: 10px;
  letter-spacing: 2px;
  padding: 5px 10px;
  transition: linear 0.25s;
  cursor: pointer;
}
.AsideSub #BoutonCommentaire:hover{
  background-color: rgb(0, 150, 175);
  color: #edf0f1;
}
.LiensRS a{
  display: inline-flex;
  text-decoration: none;
  font-size: 24px;
  width: 60px;
  height: 60px;
  color: #edf0f1;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 8px;
}
.LiensRS a i{
  transition: 0.3s ease-in;
  border: #edf0f1 solid 2px;
  border-radius: 30%;
  padding: 10px;
  margin: 4px;
}
.LiensRS a:hover i{
  color: rgb(0, 150, 175);
  border-color: rgb(0, 150, 175);
  transform: scale(2);
}
.InfoContact{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.CarteContact{
  display: flex;
  flex-direction: column;
  padding: 0 5px;
  margin: 0 25px;
  width: 150px;
  height: 120px;
  background: rgb(73, 75, 85);
  border: rgb(0, 136, 169) solid 4px;
  border-radius: 15%;
  justify-content: center;
  align-items: center;
  color: #edf0f1;
}
.IconeContact{
  font-size: 28px;
  border: #edf0f1 solid 2px;
  width: 80px;
  height: 80px;
  text-align: center;
  border-radius: 50%;
  line-height: 80px !important;
  transition: linear 0.3s;
}

.CarteContact:hover .IconeContact{
  color: rgb(0, 150, 175);
  border: none;
  transform: scale(1.3);
}
.CarteContact p{
  margin-top: 0px;
  max-height: 0;
  opacity: 0;
  letter-spacing: 1px;
  font-size: 12px;
  color: #edf0f1;
  transition: linear 0.3s;
}
.CarteContact:hover p{
  max-height: 20px;
  opacity: 1;
}
/*--------------------------------------*/
/*----Gestion de la page des saisons----*/
/*--------------------------------------*/

#Saisons{
  display: flex;
  flex-wrap: wrap;
}
section{
  margin: 10px;
  flex-basis:90%;
  flex-grow: 1;
}

/*------------------------------------------*/
/*----Gestion de la page des personnages----*/
/*------------------------------------------*/

/*Gestion du texte de description des personnages*/

#shelby h1 {
  padding-left: 25px;
  font-size: 4em;
  font-style: italic;
  text-decoration: underline;
  text-decoration-color: rgb(0, 150, 175);
}
#shelby h2 {
  padding-left: 25px;
  font-size:2.5em;
}
#shelby p {
  font-size: 2em;
  text-align: justify;
  padding-right: 25px;
  padding-left: 25px;
}
#shelby figure {
  width:30%;
}

/*Toutes les légendes de photo dans l'article*/

#shelby figure figcaption{
  text-align: center;
  font-style: italic;
  margin-top: 10px;
}
#shelby figure img{
  width: 100%;
  border: 10px solid transparent;
  padding: 1px;
  border-image: url(../images/border1.png) 30 round;
}

/*Gestion de la mise en forme des blocs*/

/*Thomas Shelby*/

#shelby #thomasshelby{
  display: flex;
}
#thomasshelby figure{
  flex-grow: 2;
  flex-shrink: 0;
  flex-basis: 30%;
}
#thomasshelby figure img{
  width: 100%;
}
#thomasshelby aside{
  flex-grow: 5;
}

/*Arthur Shelby*/

#shelby #arthurshelby{
  display: flex;
}
#arthurshelby aside{
  flex-grow: 5;
}
#arthurshelby figure{
  flex-grow: 2;
  flex-shrink: 0;
  flex-basis: 40%;
}
#arthurshelby figure img{
  width: 100%;
}

/*John Shelby*/

#shelby #johnshelby{
  display: flex;
}
#johnshelby figure{
  flex-grow: 2;
  flex-shrink: 0;
  flex-basis: 30%;
}
#johnshelby figure img{
  width: 100%;
}
#johnshelby aside{
  flex-grow: 5;
}

/*Polly Gray*/

#shelby #pollygray{
  display: flex;
}
#pollygray aside{
  flex-grow: 5;
}
#pollygray figure{
  flex-grow: 2;
  flex-shrink: 0;
  flex-basis: 40%;
}
#pollygray figure img{
  width: 100%;
}

/*Michael Gray*/

#shelby #michaelgray{
  display: flex;
}
#michaelgray figure{
  flex-grow: 2;
  flex-shrink: 0;
  flex-basis: 30%;
}
#michaelgray figure img{
  width: 100%;
}
#michaelgray aside{
  flex-grow: 5;
}

/*Ada Shelby*/

#shelby #adashelby{
  display: flex;
}
#adashelby aside{
  flex-grow: 5;
}
#adashelby figure{
  flex-grow: 2;
  flex-shrink: 0;
  flex-basis: 40%;
}
#adashelby figure img{
  width: 100%;
}

/*Grace Burgess*/

#shelby #graceburgess{
  display: flex;
}
#graceburgess figure{
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 30%;
}
#graceburgess figure img{
  width: 100%;
}
#graceburgess aside{
  flex-grow: 5;
}
/*-----------------------------------*/
/*----Gestion de la page du quizz----*/
/*-----------------------------------*/

#ImageQuestion1{
  width: 30%;
  margin-bottom: 10px;
}
#personnageQuestion1{
  margin-top: 5px;
}
#QuestionUn,#QuestionDeux,#QuestionTrois,#QuestionQuatre{
  margin: 30px;
}
#ImageQuizzPerso{
  width: 60%;
}
#AllV{
  margin: 30px;
}

/*---------------------------------------*/
/*----Gestion de la page de connexion----*/
/*---------------------------------------*/

#LoginForm{
  text-align: center;
}
#LoginForm h2{
  color: #edf0f1;
}
#LoginForm input[type='text'],#LoginForm input[type='password']{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgb(0, 150, 175);
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #edf0f1;
  border-radius: 24px;
  transition: 0.5s;
}
#LoginForm input[type="text"]:focus,#LoginForm input[type="password"]:focus{
  width: 280px;
  border-color: rgb(0, 150, 175);
}
#LoginForm input[type="submit"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgb(0, 150, 175);
  padding: 14px 40px;
  outline: none;
  color: #edf0f1;
  border-radius: 24px;
  transition: 0.5s;
  cursor: pointer;
}
#LoginForm input[type="submit"]:hover{
  background: rgb(0, 150, 175);
}

/*----------------------------------------*/
/*----Gestion de la page d'inscription----*/
/*----------------------------------------*/

#SigninForm{
  text-align: center;
}
#SigninForm h2{
  color: #edf0f1;
  font-weight: 500;
}
#SigninForm input[type="text"],#SigninForm input[type="email"],#SigninForm input[type="password"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgb(0, 150, 175) ;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #edf0f1;
  border-radius: 24px;
  transition: 0.5s;
}
#SigninForm input[type="text"]:focus,#SigninForm input[type="email"]:focus,#SigninForm input[type="password"]:focus{
  width: 280px;
  border-color: rgb(0, 150, 175);
}
#SigninForm input[type="submit"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgb(0, 150, 175) ;
  padding: 14px 40px;
  outline: none;
  color: #edf0f1;
  border-radius: 24px;
  transition: 0.5s;
  cursor: pointer;
}
#SigninForm input[type="submit"]:hover{
  background: rgb(0, 150, 175);
}

/*-------------------------*/
/*----Gestion du footer----*/
/*-------------------------*/

footer{
  background-color: rgb(26, 27, 31);
  width: 100%;
  border-top: 5px solid rgb(0, 150, 175);
  margin-top: 15px;
}
footer p{
  font-size: 24px;
  padding-left: 25px;
  padding-bottom: 25px;
}
